PORT=3000

# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=app_kos

# JWT
JWT_SECRET=isi_jwt_secret
JWT_REFRESH_SECRET=isi_jwt_refresh_secret

# Google OAuth
GOOGLE_CLIENT_ID=isi_web_client_id_google

# Cloudinary
CLOUDINARY_CLOUD_NAME=isi_cloud_name
CLOUDINARY_API_KEY=isi_api_key
CLOUDINARY_API_SECRET=isi_api_secret

# Midtrans Snap
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
APP_URL=
FRONTEND_URL=
